.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.rooms_header {
    padding: 1em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: row;
}
.rooms_header > h1 {
    margin: 0em;
}
.rooms_header > button {
    align-self: flex-end;
}
