.container {
    max-height: 25em;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.container > h2 {
    padding: 0.25em;
    margin-bottom: 0.15em;
    top: -2.75em;
    left: 0.15em;
    background-color: var(--background);
}
.editor {
    padding: 1em;
    height: 100%;
    border: var(--border-highlight);
    border-radius: 0.75em;
    background-color: rgba(255, 255, 255, 2%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: var(--color-transition);
}
.editor_focus {
    border-color: var(--violet);
}
.textarea {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    position: relative;
}
.textarea > textarea {
    background: none;
    font-family: "SourceCodePro";
    width: 100%;
    font-size: 1em;
    line-height: 1.25em;
    margin-inline: 0em;
    padding-inline: 0em;
    margin: 0em;
    padding: 0em;
    border: 0em;
    outline: 0em;
    overflow: hidden;
    tab-size: 4;
}
.textarea > textarea::selection {
    background-color: var(--foreground);
    color: var(--background);
}
.fake_scroll {
    margin-left: 2em;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    height: 20px;
    position: sticky;
    bottom: 0;
}
.fake_scroll > .scroll_content {
    height: 1px;
}
