.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.code_editor {
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.code_editor > .line_indexes {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}
.code_editor > .line_indexes > * {
    margin: 0em;
    padding: 0em;
    display: flex;
    align-items: end;
    justify-content: start;
    height: 1.25em;
    font-family: "SourceCodePro";
    font-size: 1.05em;
    position: relative;
}
.odd_line {
    position: absolute;
    top: 0em;
    user-select: none;
    pointer-events: none;
    display: block;
    height: 100%;
    width: 100vw;
    background-color: rgba(140, 132, 255, 0.1);
}
.code_editor > textarea {
    font-family: "SourceCodePro";
    width: 100%;
    font-size: 1.05em;
    line-height: 1.25em;
    margin-inline: 0em;
    padding-inline: 0em;
    margin: 0em;
    padding: 0em;
    border: 0em;
    outline: 0em;
    overflow: hidden;
    tab-size: 4;
}

.code > .code:focus {
    border-color: var(--violet);
}
.container > h2 {
    padding: 0.25em;
    margin-bottom: 0.15em;
    top: -2.75em;
    left: 0.15em;
    background-color: var(--background);
}
