@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "SourceCodePro";
    src: url("/fonts/SourceCodePro-VariableFont_wght.ttf");
}

:root {
    --background: #0d0f10;
    --foreground: #ffffff;
    --fg1: #c3c3c4;
    --fg2: #a5a5a6;
    --fg3: #868788;
    --green: #88d18a;
    --red: #ef4434;
    --violet: #9191e9;
}
:root::selection {
    color: var(--background);
    background-color: var(--violet);
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0d0f10;
        --foreground: #ffffff;
    }
}

html,
body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: "Montserrat";
    font-weight: 500;
    width: 100%;
    height: 100%;
    margin: 0em;
    padding: 0em;
}
body {
    display: flex;
    flex-direction: column;
}
footer {
    background-color: color-mix(in srgb, var(--background), black 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    padding: 1.5em;
}
.italic {
    font-style: italic;
}
input,
button,
textarea {
    outline: none;
    box-sizing: border-box;
}
textarea,
input {
    color: var(--foreground);
    background-color: var(--background);
}
textarea {
    resize: none;
}
input {
    padding: 0em !important;
    margin: 0em !important;
}
h1,
p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
hr {
    border: none;
    height: 2px;
    display: block;
    background: var(--violet); /*linear-gradient(65deg in oklab, rgb(196, 100, 100), var(--violet) 60%);*/
    width: 100%;
}
.horizontal {
    display: flex;
    flex-direction: row;
}
button {
    cursor: pointer;
    color: var(--foreground);
    background: none;
    border: none;
    border-radius: none;
}
button:active {
    scale: 0.9;
}
.beauty_button {
    scale: 1 !important;
    transform-style: preserve-3d;
    position: relative;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 0.75em;
    z-index: 1;
    color: var(--background);
    background-color: var(--foreground);
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.beauty_button::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.75em;
    z-index: -1;
    left: 0em;
    top: 0%;
    background-color: var(--foreground);
}
.beauty_button::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--violet);
    border-radius: 0.75em;
    content: "";
    left: 0em;
    top: 0em;
    z-index: -2;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.beauty_button:hover {
    transform: translateY(-0.25em);
}
.beauty_button:hover::after {
    top: 0.5em;
    display: block;
}
.beauty_button:active {
    scale: 1 !important;
    transform: scaleX(97.5%) scaleY(90%);
}
.beauty_button:active::after {
    top: 0.25em;
}
svg {
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.icon_button {
    color: var(--foreground);
    /* background-color: color-mix(in srgb, var(--background), white 5%); */
    border: solid 0.1em rgba(0, 0, 0, 0);
    border-radius: 0.5em;
    padding: 1em;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon_button:active > svg {
    fill: var(--background);
}
.icon_button:hover {
    border-color: var(--violet);
}
.icon_button:active {
    background-color: var(--violet);
    color: var(--background);
}

input {
    color: var(--foreground);
    height: 100%;
    border: solid var(--foreground) 0.1em;
    border-radius: 0.5em;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 3% !important;
    padding-left: 1em !important;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
input::selection {
    color: var(--background);
    background-color: var(--violet);
}
input:focus {
    border-color: var(--violet);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--foreground);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
a {
    color: var(--foreground);
}
a:visited {
    color: var(--violet);
}
.error {
    color: var(--red);
}
