.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > form {
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container > form > * {
    width: 100%;
}
.container > form > a {
    text-align: center;
}
.container > form > label > input {
    height: 0.75em;
}
.container > form > label {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
